.image-background {
    background-image: url("/images/background-view.webp");
}

.main-avatar {
    background-image: url("/images/main-avatar.webp");
}

.image-cover {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1))
}
